* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', arial, helvetica, sans-serif;
}

/* body {
    /* background: url("img/portada.jpg");
    background-size: 100%; */
    /* cambiar background color a gris oscuro 
} */
h5 {
    margin-left: 2%;
    font-size: 30px;
}

.fh5 {
    font-size: 12px;
    margin-left: 3.5%;
    margin-top: -40px;
}
.menu__h5 {
    font-size: 12px;
    margin-top: -12%;
    margin-left: 6.3%;
}
.carousel-inner {
    
    margin-top: 25%;
    margin-bottom: 25%;
}
.carousel-item {
    height: 250px;
}
.carousel-item img {
    height: 250px;
    width: 100%;
}
.carousel-img {
    width: 100%;
}
.social-media-icons {
    
    display: grid;
    /* gap: .1rem; */
    grid-template-columns: repeat(3,1fr);
    width: min(60%, 75rem);
    padding-block: 2rem;
    margin-inline: 25%;
    margin-top: 10%;
    
    
}
.ig-icon,.wzp-icon,.mail-icon {
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}
.ig-icon:hover, .wzp-icon:hover, .mail-icon:hover{
    transform: scale(1.2) rotate(360deg);;
    transition: .2s ease-in-out;
}
.ig-icon {
    color: rgb(125, 122, 122);
}

.wzp-icon {
    color: rgb(125, 122, 122);
}
.mail-icon {
    color: rgb(125, 122, 122); 
}

footer p {
    text-align: center;
    
}
.devel0pme {
    font-weight: bold;
}
/* .clearfix {
    clear: both;
} */
.acerca_p {
    font-family: 'Roboto';
    font-size: 15px;
    padding: 5%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    color: rgba(0, 0, 0, 0.58);
    border: 1px solid rgb(148, 147, 147);
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgb(124, 123, 123);
    width: 90%;
}
.images_autumn {
    width: 100%;
    
}
.images img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border: 1px solid black;
    border-radius: 10px; */
    
}
.carouselImg {
    width: min(100px, 100);
    
}
#carouselExampleInterval {
    margin-top: -50px;
}
.navbar {
    height: 15%;
}



@media only screen and (min-width: 768px) {


    .carousel {
        width: 1000px;
        height: 500px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 5px 8px 7px rgb(109, 108, 108);
    }
    .carousel-inner {
        margin-top: 13%;
        margin-bottom: 5%;
    }
    .carousel-item {
        width: 1200px;
        height: 100%;
        
        
        
    }
    .carousel-item img {
        width: 100%;
        height: 500px;
        
        
    }
    /* fading effects start */
    .carousel-img {
        opacity: .6;
        transition: opacity 4s ease-out;
        

    }
    .carousel-img.active {
        opacity: 1;
        
        /* transition: opacity 0.5s ease-in-out; */
    }

     /* fading effects end */
    
    /* .social-media-icons {
        display: none;
    } */ /* it disappears the icon from the menu too */
    .navbar-brand.big_title {
        font-size: 40px;
        color: rgb(88, 87, 87);
    }
    .acerca_p {
        font-size: 20px;
        width: 60%;
        padding: 5%;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        color: rgba(0, 0, 0, 0.58);
        border: 1px solid rgb(148, 147, 147);
        border-radius: 5px;
        box-shadow: 7px 7px 20px rgb(124, 123, 123);

    }
    .images {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
}